<div>
    <div class="submit-form col-md-6">
        <div *ngIf="!submitted">
            <div class="form-group f">
                <label class="l" for="tengieng">Tên Giếng</label>
                <input type="text" class="form-control" id="tengieng" required [(ngModel)]="value.tengieng"
                    name="tengieng" />
            </div>

            <div class="form-group f">
                <label class="l" for="vitrix">Vị trí x</label>
                <input class="form-control" id="vitrix" type="number" required [(ngModel)]="value.vitrix"
                    name="vitrix" />
            </div>

            <div class="form-group f">
                <label class="l" for="vitriy">Vị trí y</label>
                <input class="form-control" id="vitriy" type="number" required [(ngModel)]="value.vitriy"
                    name="vitriy" />
            </div>

            <div class="form-group f">
                <label class="l" for="dosau">Độ sâu</label>
                <input class="form-control" id="dosau" type="number" required [(ngModel)]="value.dosau" name="dosau" />
            </div>

            <div class="form-group f">
                <label class="l" for="diadanh">Địa Danh</label>
                <input class="form-control" id="diadanh" required [(ngModel)]="value.diadanh" name="diadanh" />
            </div>

            <button (click)="saveTutorial()" class="btn btn-success b">
                THÊM
            </button>
        </div>

        <div *ngIf="submitted">
            <h4>Thêm dữ liệu thành công!</h4>
            <button class="btn btn-success" (click)="newTutorial()">
                THÊM DỮ LIỆU MỚI
            </button>
        </div>
    </div>
</div>