<div>
    <nav class="navbar navbar-expand-lg bg-light">
        <a href="#" class="navbar-brand">
            <img class="img" src="https://res.cloudinary.com/nvhung1810/image/upload/v1668330027/enc/Layer_1_hosdvs.png"
                alt="" />
        </a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="values" routerLinkActive="active-link" class="nav-link">DANH SÁCH</a>
            </li>
            <li class="nav-item">
                <a routerLink="add" routerLinkActive="active-link" class="nav-link">THÊM</a>
            </li>
        </div>
    </nav>

    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- Cái này không cần sửa gì -->