<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="flex">
                <div class="form-group f col-md-5">
                    <label class="l" for="hoten">Họ Tên</label>
                    <input type="text" class="form-control" id="hoten" required [(ngModel)]="value.hoten"
                        name="hoten" />
                </div>

                <div class="form-group f col-md-5">
                    <label class="l" for="tenbomon">Tên Bộ Môn</label>
                    <input class="form-control" id="tenbomon" required [(ngModel)]="value.tenbomon" name="tenbomon" />
                </div>
            </div>

            <div class="flex">
                <div class="form-group f col-md-5">
                    <label class="l" for="hesoluong">Hệ Số Lương</label>
                    <input class="form-control" id="hesoluong" required [(ngModel)]="value.hesoluong"
                        name="hesoluong" />
                </div>
            </div>

            <button (click)="saveTutorial()" class="btn btn-success b">
                THÊM
            </button>
        </div>

        <div *ngIf="submitted">
            <h4>Thêm dữ liệu thành công!</h4>
            <button class="btn btn-success" (click)="newTutorial()">
                THÊM DỮ LIỆU MỚI
            </button>
            <button class="btn btn-primary">
                <a routerLink="../values" class="nav-link">Về trang danh sách thông tin</a>
            </button>
        </div>
    </div>
</div>