<div *ngIf="viewMode; else editable">
    <div *ngIf="currentValue.id">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên Giếng</th>
                    <th scope="col">Vị trí x</th>
                    <th scope="col">Vị trí y</th>
                    <th scope="col">Độ sâu</th>
                    <th scope="col">Địa danh</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <!-- Sửa cái này theo table -->
                    <td>{{ currentValue.tengieng }}</td>
                    <td>{{ currentValue.vitrix }}</td>
                    <td>{{ currentValue.vitriy }}</td>
                    <td>{{ currentValue.dosau }}</td>
                    <td>{{ currentValue.diadanh }}</td>
                    <td></td>

                    <!-- <td>@{{ currentValue.published ? "Published" : "Pending" }}</td> -->
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-warning">
            <a class="badge badge-warning" routerLink="/values/{{ currentValue.id }}">
                Edit
            </a>
        </button>
    </div>

    <div *ngIf="!currentValue">
        <br />
        <p>Please click on a Value...</p>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentValue.id" class="edit-form">
        <form>
            <!-- Tên -->
            <div class="form-group" style="margin: 20px 0;">
                <label style="margin-bottom: 20px;" for="tengieng">Tên Giếng</label>
                <input type="text" class="form-control" id="tengieng" [(ngModel)]="currentValue.tengieng"
                    name="tengieng" />
            </div>
            <!-- Giá -->
            <div class="form-group" style="margin: 20px 0;">
                <label style="margin-bottom: 20px;" for="vitrix">Vị trí x</label>
                <input type="text" class="form-control" id="vitrix" [(ngModel)]="currentValue.vitrix" name="vitrix" />
            </div>
            <!-- Số lượng -->
            <div class="form-group" style="margin: 20px 0;">
                <label style="margin-bottom: 20px;" for="vitriy">Vị trí y</label>
                <input type="text" class="form-control" id="vitriy" [(ngModel)]="currentValue.vitriy" name="vitriy" />
            </div>
            <!-- Ngày Nhập -->
            <div class="form-group" style="margin: 20px 0;">
                <label style="margin-bottom: 20px;" for="dosau">Độ sâu</label>
                <input type="text" class="form-control" id="dosau" [(ngModel)]="currentValue.dosau" name="dosau" />
            </div>
            <!-- Loại Hàng -->
            <div class="form-group" style="margin: 20px 0;">
                <label style="margin-bottom: 20px;" for="diadanh">Địa danh</label>
                <input type="text" class="form-control" id="diadanh" [(ngModel)]="currentValue.diadanh"
                    name="diadanh" />
            </div>

            <!-- <div class="form-group" style="margin: 20px 0;">
                <label style="margin-bottom: 20px;"><strong>Status:</strong></label>
                {{ currentValue.published ? 'Published' : 'Pending' }}
            </div> -->
        </form>

        <!-- Nút cập nhật trạng thái -->
        <!-- <button
            class="btn btn-primary"
            *ngIf="currentValue.published"
            (click)="updatePublished(false)"
        >
            UnPublish
        </button>
        <button
            *ngIf="!currentValue.published"
            class="btn btn-primary"
            (click)="updatePublished(true)"
        >
            Publish
        </button> -->

        <button class="btn btn-danger" (click)="deleteValue()" style="margin-right: 48px">Delete</button>

        <button type="submit" class="btn btn-success" (click)="updateValue()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentValue.id">
        <br />
        <p>Cannot access this Value...</p>
    </div>
</ng-template>